<div class="white-cont clearfix">
  <h3 class="m-0">Availability</h3>
</div>

<%= form_for @user, as: :user, url: profile_path(@user) do |f| %>
  <%= render 'errors', {object: @user} %>
  <%= f.hidden_field :is_time_set, value: true %>
  <%= render 'availability_timings', {f: f} %>

  <div class="white-cont clearfix">
    <%= f.submit "Update Availability", class: 'btn btn-primary'  %>
  </div>
<% end %>
