<section class="login-section">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="second">
          <div class="myform form ">
            <div class="logo mb-3">
              <div class="col-md-12 text-center">
                <h1 class="font-30">Resend confirmation instructions</h1>
              </div>
            </div>
            <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
              <%= devise_error_messages! %>
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) , class: 'form-control' %>
              </div>
              <div class="col-md-12 text-center mb-3">
                <button type="submit" class="btn btn-primary tx-tfm">Resend confirmation instructions</button>
              </div>
              <div class="col-md-12 ">
                <div class="form-group">
                  <%= render "devise/shared/links" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
