<div>
	<h2><%= booking_h2_tag(user) %></h2>
	<h4>
		To get Do-it-yourself instructions
	</h4>
	<ul style="list-style: inside;" >
		<li>Provide information requested below.</li>
		<li>You will be charged <%= users_rate(user) %>.</li>
		<li>Choose time block for your video chat</li>
		<li>Extend the video chat time if needed.</li>
		<li>You only pay when both parties join.</li>
		<li>Unused time is refunded effortlessly.</li>
		<li>No charge if <%= user.name %> does not join.</li>
	</ul>
</div>


<!-- Schedule Joe Smith Now!
To get Do-it-yourself instructions
		<li>For best results provide information requested below to help you faster.</li>
		<li>You will be charged <%= users_rate(user) %> for total amount of time used.</li>
		<li>Choose the amount of time needed for the Video Chat. Time is Tracked.</li>
		<li>You will be notified prior to time expiration to purchase more time or not.</li>
		<li>You are charged for the time chosen when both parties join video chat.</li>
		<li>Time purchased that is not used is automatically refunded to your card.</li>
		<li>You are charged in the event you do not show up to the video chat.</li>
		<li>You are not charged if <%= user %> does not show up.</li> -->