<tr>
  <td><%= completed_chat.recipient_time.strftime("%m/%d/%Y") %></td>
  <td><%= completed_chat.recipient_time.strftime("%l:%M %p %Z") %></td>
  <td><%= completed_chat.email_receivers_without_sender.to_sentence %></td>
  <td><%= seconds_to_hms completed_chat.time_used %></td>
  <% if completed_chat.archive_id.present? && completed_chat.time_used > 0 %>
    <td><%= link_to_i 'download', "Download", download_chat_path(completed_chat.session_id) %></td>
  <% else %>
    <td class="download-not-available" title="Not Available"><span class="fa fa-download"></span> Download</td>
  <% end %>
</tr>