Hey,
<br/>
<p>
  A new In-Home Service is Scheduled, please find details below.
</p>
<p>
<div class="form-group">
  <label>Property Type: </label>
  <%= @scheduled_service.property_type %>
</div>
<div class="form-group">
  <label>Home Type: </label>
  <%= @scheduled_service.home_type %>
</div>
<div class="form-group">
  <label>Property Age: </label>
  <%= @scheduled_service.property_age %>
</div>
<div class="form-group">
  <label>Property Address: </label>
  <%= @scheduled_service.property_address %>
</div>
<div class="form-group">
  <label>City: </label>
  <%= @scheduled_service.city %>
</div>
<div class="form-group">
  <label>State: </label>
  <%= @scheduled_service.state %>
</div>
<div class="form-group">
  <label>Zip: </label>
  <%= @scheduled_service.zip %>
</div>
<div class="form-group">
  <label>Owner Name: </label>
  <%= @scheduled_service.owner_name %>
</div>
<div class="form-group">
  <label>Your Name: </label>
  <%= @scheduled_service.your_name %>
</div>
<div class="form-group">
  <label>Phone Number: </label>
  <%= @scheduled_service.phone_number %>
</div>
<div class="form-group">
  <label>Email Address: </label>
  <%= @scheduled_service.email_address %>
</div>
<div class="form-group">
  <label>Email Address: </label>
  <%= @scheduled_service.scheduled_time %>
</div>
<div class="form-group">
  <label>Explaination: </label>
  <%= raw @scheduled_service.explaination %>
</div>
</p>

<br/>
regards,
<br/>
Videochatapro.com