Hey,
<br/>

<p>A job application is recieved, please see following information provided by applicant.</p>
<br/>

<p><%= @name %></p>
<p><%= @address %></p>
<p><%= @phone %></p>
<p><%= @email %></p>
<p><%= @available %></p>
<p><%= @skills %></p>
<p><%= @job_history %></p>

<br/>
regards,
<br/>
Videochatapro.com