<% if @resource === AdminUser.find_by(email: @resource.email)%>
  <p>Hello admin <%= @resource.email %>!</p>
  <p>Someone has requested a link to change your password. You can do this through the link below.</p>

  <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

  <p>If you didn't request this, please ignore this email.</p>
  <p>Your password won't change until you access the link above and create a new one.</p>
  
<% elsif @resource.is_imported %>
  <% if @resource.categories.map(&:name).include?("Mechanics") %>
    <%= render partial: "partials/import_mechanic_partial" %>
  <% else %>
    <%= render partial: "partials/import_users_partial" %>
  <% end %>
<% else %>
  <p>Hello <%= @resource.email %>!</p>
  <p>Someone has requested a link to change your password. You can do this through the link below.</p>

  <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

  <p>If you didn't request this, please ignore this email.</p>
  <p>Your password won't change until you access the link above and create a new one.</p>
<% end %>