<!-- STEP SECTION START -->
<section class="step-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="step1">
          <%= image_tag @page.step1_image.url, title: "Step 1", alt: "Step 1" %>
          <h3 class="color-base"><%= @page.step1_caption %></h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="step1">
          <%= image_tag @page.step2_image.url, title: "Step 2", alt: "Step 2" %>
          <h3 class="color-base"><%= @page.step2_caption %></h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="step1">
          <%= image_tag @page.step3_image.url, title: "Step 3", alt: "Step 3" %>
          <h3 class="color-base"><%= @page.step3_caption %></h3>
        </div>
      </div>
    </div>
</section>
<!-- STEP SECTION END -->
