<div class="col-md-4 col-sm-3">
  <div class="elementor">
    <%= link_to (image_tag @page.sub_header_logo1.url, alt: "Plumber icon"), '/plumber' %>
    <%= link_to (image_tag @page.sub_header_logo2.url, alt: "Landscaper icon"), '/landscaper' %>
    <%= link_to (image_tag @page.sub_header_logo3.url, alt: "Hvac icon"), '/hvac' %>
  </div>
</div>
<div class="col-md-4 col-sm-3">
  <div class="elementor">
    <%= link_to (image_tag @page.sub_header_logo4.url, alt: "Electrician icon"), '/electrician' %>
    <%= link_to (image_tag @page.sub_header_logo5.url, alt: "Mechanic icon"), '/mechanic' %>
    <%= link_to (image_tag @page.sub_header_logo6.url, alt: "Appliance icon"), '/appliance' %>
  </div>
</div>
